.formulairepanier
{
	text-align: center;
}
.sidebar
{
	margin-top:5px;
	background-color:black;
	color: white;
	float :right;
	width: 350px;
	height: 1020px;

}
.sidebar h4
{
	text-align: center;
}
.footer
{

	background-color: red;
	display: block;
	color: black;
	width: 100%;
	height: 50px;
	clear: both;

}
.menu li
{
	/*Menu en ligne*/
	display: inline;
	/*Marge interieur*/
	padding: 15px;
	background-color: black;
	color: white;
}
.menu li a
{
	/*Marge interieur*/
	padding: 20px 25px;
	font-size: 20px;
	color: white;
	text-decoration: none;

}
/*selection*/
.menu li a:hover
{
	background-color:#b8b0ae;
}

#logo
{
    font-size:7777px;
    color: grey;

}